<h2>My Heroes</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <a routerLink="/heroes/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="Delete" (click)="delete(hero)">X</button>
    </li>
</ul>

<div>
    <h3>Create a new hero:</h3>

    <label>Hero name:
        <input #heroName required>
    </label>
    <br>
    <label>Hero money:
        <input #heroMoney required type="number">
    </label>
    <br>
    <button (click)="create(heroName.value, heroMoney.value); heroName.value = ''; heroMoney.value = 0;">Create</button>
</div>
